$font-size: 20px;
$bold-weight: 700;
body{
    font-size: $font-size;
    background-color: rgb(155, 155, 255);
}
a{
    color: black;
    text-decoration:none;
}
.invisible{
    height: 0px;
    margin: 0px;
    padding: 0px;
    display: none;
}
.navbar{
    padding-left: 60px;
    background-color: rgb(113, 195, 113);
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: $bold-weight;
}
section{
    margin: 15px 25px;
    padding:25px 50px;
    border-radius: 15px;
}
.filtrado, .formulario-proyecto{
    display: flex;
    flex-direction: row;
    background-color: rgb(91, 238, 233);
    #search-id{
        margin: 50px;
    }
    .descripcion-filtrado{
        margin: 50px 0 0 25px;
        font-size: 1rem;
        color: grey;
        font-weight: $bold-weight;
    }
}
.proyectos{
    background-color: rgb(91, 115, 238);
}
.tarjeta-proyecto{
    margin-bottom: 15px;
    padding: 10px 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
}
.mi-toastify{
    background: linear-gradient(to right, #0006b0, #c93d44);
}